body{
  font-family: sans-serif;
}
h1{
text-transform: uppercase;
}
.title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 125px;
}
.product a{
  display: inline-block;
  color: #23bac1;
  font-style: 13px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-decoration: none;
  width: 200px;
  cursor: pointer;
  border: solid 1px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product{
  text-align: center;
}
.active{
  flex-basis: 100%;
}
.bold{
  font-weight:bold;
}
